/* CSS reset */

* {
    margin: 0px;
    padding: 0px;
}


/*  Variables */

:root {
    --nav-height: 60px
}


/* NAVBAR Designing */

#navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-family: 'Baloo Bhaijaan 2', cursive;
}


/* NAVBAR Designing -background */


/* #navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
} */


/*NAVBAR Designing - logo */

#logo {
    margin: 12px 42px;
}

#logo img {
    height: 100px;
    margin: 8px 11p;
}


/* NAVBAR Designing -list styling */

#navbar ul {
    display: flex;
}

#navbar ul li {
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a {
    color: white;
    display: block;
    padding: 8px 12px;
    border-radius: 12px;
    text-decoration: none;
}

#navbar ul li a:hover {
    background-color: white;
    color: black;
}


/* HOME SECTION */

#home {
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 556px;
    justify-content: center;
    align-items: center;
}

#home::before {
    content: "";
    background: url('../bg5.jpg') no-repeat center center/cover;
    position: absolute;
    width: 100%;
    height: 91%;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 5.8;
}

#home p {
    color: whitesmoke;
    font-size: 1.5rem;
    text-align: center;
    font-family: 'Bree Serif', serif;
}

#home h1 {
    color: white;
    text-align: center;
    font-family: 'Bree Serif', serif;
}


/* SERVICES SECTION */

#services {
    display: flex;
    margin: 34px;
}

#services .box {
    border: 2px solid red;
    padding: 9px;
    margin: -33px 7px;
    border-radius: 28px;
    background-color: #f2e2e2;
    box-sizing: border-box;
    width: 421px;
    height: 395px;
}

#services .box img {
    height: 130px;
    display: block;
    margin: 8px auto;
}

#services .box p {
    font-family: 'Baloo Bhaijaan 2', cursive;
}


/* CLIENT SECTION */

#client-section {
    height: 400px;
}

#clients {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

#clients img {
    height: 170px;
}

#clients .client-item {
    margin: 12px 30px;
    padding: 11px 1px;
}

#clients {
    background: url('../bg2.jpg') no-repeat center/cover;
    opacity: 0.9;
}


/* CONTACTS */

#contact-box {
    height: 450px;
    background: url('../contact-us-2993000_1920.jpg') no-repeat center center/cover;
}

#contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact-box form input {
    display: block;
    width: 100%;
    height: 20px;
    padding: 8px;
    margin: 8px;
    border-radius: 12px;
    text-align: center;
}

#contact-box form textarea {
    border-radius: 22px;
    text-align: center;
    display: block;
    margin-left: 40px;
}

#contact-box form label {
    text-align: center;
    font-size: 1.2rem;
    color: white;
    display: block;
    font-family: 'Bree Serif', serif;
}

footer {
    background: black;
    color: white;
    font-family: 'Bree Serif', serif;
    padding: 8px;
}


/* Utility Classes */

.h-primary {
    padding: 12px;
    font-size: 3.8rem;
    font-family: 'Bree Serif', serif;
}

.h-secondary {
    padding: 12px;
    font-size: 1.8rem;
    font-family: 'Bree Serif', serif;
}

.btn {
    padding: 9px 20px;
    border: 2px solid white;
    color: white;
    background-color: brown;
    border-radius: 19px;
    cursor: pointer;
    margin-top: 12px;
    font-size: 1.5rem;
}

.center {
    text-align: center;
}